<div id="footer" class="footer">
    <div class="footer-links">
        <ul>
            <li><a href="/footerlinks/privacypolicy.html">Privacy Policy</a></li>
            <li><a href="/footerlinks/terms.html">Terms of Service</a></li>
            <li><a href="/pages/contact.html">Find Us</a></li>
            <li><a href="/pages/contact.html">Inquire</a></li>
            <li><a href="/pages/about.html">About</a></li>  
        </ul>      
        <ul>
            <li><a href="/pages/contact.html">Contact</a></li>
            <li><a href="/footerlinks/cookiepolicy.html">Cookie Policy</a></li>
            <li><a href="/footerlinks/disclaimers.html">Disclaimers</a></li>
            <li><a href="/footerlinks/faq.html">FAQ & Help Center</a></li>
            <li><a href="/footerlinks/communityguidelines.html">Community Guidelines</a></li>
        </ul>
    </div>
    <p id="copyright">Copyright &copy; <span id="year"> </span><a href="/"> GRANDYA COFFEE.</a><br>All rights reserved.</p>
    <img src="/icons/logo.png" alt="Grandya Coffee Logo">
</div>