<button class="menu-toggle" aria-label="Toggle navigation">MENU ◡̈</button>
<div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>
<div id="header" class="header">
    <button class="header-close" aria-label="Close menu">&times;</button>
    <div class="logo">
        <a href="/index.html">
            <img src="/icons/logo.png" alt="Grandya Coffee Logo">
        </a>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/menu.html">Menu</a></li>
            <li><a href="/pages/about.html">About Us</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="social-icons">
        <a href="https://web.facebook.com/profile.php?id=61564243991797" target="_blank">
            Facebook
        </a>
        <a href="https://www.instagram.com/grandyacoffee/" target="_blank">
            Instagram
        </a>
        <a href="mailto:info.grandyacoffee@gmail.com" target="_blank">
            Email
        </a>
    </div>
</div>