<div id="footer" class="footer">
    <div class="footer-links">
        <ul>
            <li><a href="/footerlinks.html?page=privacypolicy">Privacy Policy</a></li>
            <li><a href="/footerlinks.html?page=terms">Terms of Service</a></li>
            <li><a href="/pages/contact.html">Find Us</a></li>
            <li><a href="/footerlinks.html?page=inquire">Inquire</a></li>
            <li><a href="/pages/about.html">About</a></li>  
        </ul>      
        <ul>
            <li><a href="/pages/contact.html">Contact</a></li>
            <li><a href="/footerlinks.html?page=cookiepolicy">Cookie Policy</a></li>
            <li><a href="/footerlinks.html?page=disclaimers">Disclaimers</a></li>
            <li><a href="/footerlinks.html?page=faq">FAQ & Help Center</a></li>
            <li><a href="/footerlinks.html?page=communityguidelines">Community Guidelines</a></li>
        </ul>
    </div>
    <p id="copyright">Copyright &copy; <span id="year"> </span><a href="/"> GRANDYA COFFEE.</a><br>All rights reserved.</p>
    <img src="/icons/logo.png" alt="Grandya Coffee Logo">
</div>